@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@100;400;700&display=swap");
*, ::before, ::after {
  margin: 0;
  padding: 0;
}

body {
  background: hsl(217deg, 54%, 11%);
  color: hsl(215deg, 51%, 70%);
  font-size: 16px;
  font-weight: 400;
  font-family: "Overpass", sans-serif;
}

.wrapper {
  max-width: 1920px;
}

main {
  background: hsl(216deg, 50%, 16%);
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  box-shadow: 0px 30px 0px 20px #0c1627;
  border-radius: 20px;
}

.card-top {
  max-width: 350px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.card-top-img {
  max-width: 80%;
  height: 280px;
  border-radius: 12px;
  background-color: aqua;
  position: relative;
  top: 20px;
  z-index: 2;
}
.card-top-img .eye {
  position: absolute;
  max-width: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.card-top-img .eye:hover {
  opacity: 0;
}
.card-top-img .equilibrium {
  position: relative;
  max-width: 100%;
  border-radius: 10px;
  overflow: hidden;
  z-index: 2;
}
.card-top-img .equilibrium:hover {
  opacity: 0.5;
  z-index: 0;
  cursor: pointer;
}

.card-detail {
  margin-left: 8%;
  margin-right: 8%;
  position: relative;
  top: 40px;
}
.card-detail h2 {
  color: hsl(0deg, 0%, 100%);
  font-size: 20px;
  font-weight: bold;
  font-family: "Overpass", sans-serif;
}
.card-detail h2:hover {
  cursor: pointer;
  color: aqua;
}
.card-detail > p {
  position: relative;
  top: 20px;
  line-height: 25px;
  color: hsl(215deg, 51%, 70%);
  font-size: 16px;
  font-weight: 400;
  font-family: "Overpass", sans-serif;
}
.card-detail-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
}
.card-detail-footer-ethereum {
  position: relative;
  display: inherit;
  align-items: flex-start;
  justify-content: space-between;
}
.card-detail-footer-ethereum p {
  position: relative;
  left: 5px;
  color: aqua;
  font-size: 16px;
  font-weight: bold;
  font-family: "Overpass", sans-serif;
}
.card-detail-footer-clock {
  position: relative;
  display: inherit;
  align-items: flex-end;
  justify-content: space-between;
}
.card-detail-footer-clock img {
  position: relative;
  top: -3px;
}
.card-detail-footer-clock p {
  position: relative;
  left: 5px;
}

.card-line {
  position: relative;
  max-width: 280px;
  border-top: 1px solid hsl(215deg, 51%, 70%);
  margin-top: 70px;
  left: 35px;
}

.card-footer {
  margin-top: 20px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
}
.card-footer .avatar {
  width: 30px;
  height: 30px;
  border: 1.8px solid hsl(0deg, 0%, 100%);
  border-radius: 50%;
  margin-left: 30px;
  margin-right: 15px;
}
.card-footer p {
  margin-left: 5px;
  color: hsl(0deg, 0%, 100%);
}
.card-footer p:hover {
  cursor: pointer;
  color: aqua;
}

footer {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
footer a {
  text-decoration: none;
}
footer p {
  margin-top: 10px;
  margin-left: 15%;
}

.reach-me {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.devicon-github-original {
  color: white;
  font-size: 35px;
}

/*# sourceMappingURL=style.css.map */
